$background-button: rgba(146, 59, 59, 0.972549);
$border-button: rgba(211, 147, 147, 0.972549);

.auth_main {
	background-color: var(--principale);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	.auth__container {
		background-color: var(--terziario);
		position: absolute;
		width: 60%;
		height: 70%;
		display: flex;
		text-align: center;
		justify-content: space-between;
		flex-direction: row;
		border-radius: 5px;
		div {
			flex-grow: 1;
			flex-basis: 0;
		}

		h3 {
			font-weight: bold;
		}
		.auth__imagine {
			width: 50%;
			border-radius: 4px 0 0 4px;
			object-fit: cover;
		}

		.auth__container-f {
			display: flex;
			align-items: center;
			flex-direction: column;
			overflow: auto;
			justify-content: center;
			align-items: center;
			padding: 0vh 1vw 0vh 1vw;
			a {
				font-size: 2vw;
				text-decoration: none;
				color: var(--secondario);
			}
			form {
				.home_link {
					display: flex;
					justify-content: flex-start;
					width: 85%;
					a {
						font-size: vw;
						text-decoration: none;
					}
				}

				width: 50vh;

				display: flex;
				flex-direction: column;

				justify-content: center;
				label {
					display: flex;
					font-size: 1vw;
					transition: color 0.7s ease-in-out;
					justify-content: flex-start;
					margin-top: 1.5vh;
					&:hover {
						color: var(--secondario);
					}
				}
				input {
					border: none;
					border-bottom: 1px solid #0d96c436;
					transition: border-color 0.7s ease-in-out;
					text-align: center;
					font-size: 1vw;

					&:focus {
						outline: none;
						border-color: var(--secondario);
					}
				}

				.auth__btns {
					display: flex;
					flex-direction: column;
					button {
						margin-top: 2vh;
						font-size: 1.5rem;
						color: var(--terziario);
						margin-bottom: 2vh;
						background-color: var(--principale);
						justify-content: center;
						&:hover {
							background-color: $background-button;
							color: var(--terziario);
							border-color: $border-button;
						}
					}
					a {
						font-size: 1vw;
					}
				}

				.auth__error {
					color: red;
					font-size: 1vw;
				}
			}
		}
	}
}
