.utente_main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	position: relative;

	.utente_navbar {
		background-color: var(--principale);
	}
	.utente_cards_user {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 2.5vh;
		width: 100%;
		height: 100%;
	}
	.utente_container {
		display: flex;
		justify-content: space-between;
	}
}
