.p-card {
	// height: 60vh;
	width: 60vw;
	height: 48vh;
	display: flex;
	border-radius: 2rem;
	flex-direction: row;
	padding: 0.5rem;
	.p-card-header {
		img {
			height: 100%;
			width: 27vw;
			border-radius: 0.5rem 1rem 1rem 0.5rem;
		}
	}
	.p-card-body {
		width: 100%;
		.p-card-title {
			text-align: center;
		}
		.p-card-content {
			text-align: center;
			font-size: 1vw;

			word-break: break-all;
			height: 30vh;
		}
		.p-card-footer {
			display: flex;
			justify-content: center;
			column-gap: 1rem;
		}
	}
}
