@import "../base/colors";

.utente_main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	position: relative;

	.utente_navbar {
		background-color: $Principale;
	}
	.utente_cards_user {
		margin-top: 12vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 2.5vh;
	}
	.utente_container {
		display: flex;
		justify-content: space-between;
	}
}
